################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Customer.Commerce.XA.Storefront.Extension
/bin/Debug
/obj/Debug
/packages
