<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <!-- Register custom controllers -->
      <register serviceType="$safeprojectname$.Controllers.$sampleControllerName$, $safeprojectname$" implementationType="$safeprojectname$.Controllers.$accountControllerName$, $safeprojectname$" lifetime="Transient" />
      
      <!-- Register custom interface/implementation class pairs -->
      <register serviceType="$safeprojectname$.Repositories.$sampleIRepositoryName$, $safeprojectname$" implementationType="$safeprojectname$.Repositories.$sampleRepositoryName$, $safeprojectname$" lifetime="Singleton" />
     
    </services>
    <settings>
    </settings>
    <commerce.XA>
      <!-- Register custom models, both Rendering Model and JsonResult Classes-->
      <models>
        <$sampleRenderingModelName$ type="$safeprojectname$.Models.$sampleRenderingModelName$, $safeprojectname$" />
      </models>
    </commerce.XA>
  </sitecore>
</configuration>