<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <!-- Remove OOTB Controllers if being replaced -->
      <register serviceType="Sitecore.Commerce.XA.Feature.Cart.Controllers.CartController, Sitecore.Commerce.XA.Feature.Cart" implementationType="Sitecore.Commerce.XA.Feature.Cart.Controllers.CartController, Sitecore.Commerce.XA.Feature.Cart" lifetime="Transient">
        <patch:delete></patch:delete>
      </register>
      
      <!-- Register custom controllers -->
      <register serviceType="$safeprojectname$.Controllers.$cartControllerName$, $safeprojectname$" implementationType="$safeprojectname$.Controllers.$cartControllerName$, $safeprojectname$" lifetime="Transient" />

      <!-- Replace implementation type of existing repository interfaces -->
      <register serviceType="Sitecore.Commerce.XA.Feature.Cart.Repositories.IAddToCartRepository, Sitecore.Commerce.XA.Feature.Cart">
        <patch:attribute name="implementationType">$safeprojectname$.Repositories.AddToCartRepository, $safeprojectname$</patch:attribute>
      </register>
      
      <!-- Register custom interface/implementation class pairs -->
      <register serviceType="$safeprojectname$.Repositories.$sampleIRepositoryName$, $safeprojectname$" implementationType="$safeprojectname$.Repositories.$sampleRepositoryName$, $safeprojectname$" lifetime="Singleton" />
     
    </services>
    <settings>
    </settings>
    <commerce.XA>
      <!-- Register custom models, both Rendering Model and JsonResult Classes-->
      <models>
        <$sampleRenderingModelName$ type="$safeprojectname$.Models.$sampleRenderingModelName$, $safeprojectname$" />
      </models>
    </commerce.XA>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']" type="$safeprojectname$.Pipelines.Initialize.RegisterRoutes, $safeprojectname$"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>